
.gradText {
    background: linear-gradient(270deg, #eef4ed, #134074);
    background-size: 300% 300%;
  
    -webkit-animation: AnimationName 7s ease infinite;
    animation: AnimationName 7s ease infinite;
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  @-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  @keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }